<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848485870372-0l65a9sulskimnejp9mb38eiak4k8dq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848485870372-0l65a9sulskimnejp9mb38eiak4k8dq4</string>
	<key>API_KEY</key>
	<string>AIzaSyDigsmsVskf6UonT9UysSNTNDV91HifGaA</string>
	<key>GCM_SENDER_ID</key>
	<string>848485870372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyApp</string>
	<key>PROJECT_ID</key>
	<string>study-app-cb328</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-cb328.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848485870372:ios:3edc26d19cff75bd56a1b1</string>
</dict>
</plist>